body{
  font-family: Helvetica Neue;
  text-align:center;
  margin-left: 24vw;
  margin-right: 24vw;
  font-size: calc(1vw);
}

a{
 color:#ffffff;
}
h1{
  color:#4f6655;
  background-color:#cae6cb;
  padding-top:0.8vw;
  padding-bottom:0.8vw;

}


#navigation{
  list-style-type:none;
  padding:0;
  background-color:#4f6655;
  padding-bottom:1vw;
  padding-top:1vw;
  color:#cae6cb;
  border-color:#4f6655;
  border-radius: 1vw;

}

.navigation {
  display:inline;
 padding-left:2.8vw;
 padding-right:2.8vw;
}


main {
  color:#4f6655;
  background-color:#cae6cb;
  padding-top:1vw;
  padding-bottom:1vw;
  padding-left:2.5vw;
  padding-right:2.5vw;
  margin-bottom:1.5vw;
}

footer {
  padding-top:0.8vw;
  padding-bottom:0.8vw;
  padding-left:1vw;
  padding-right:1vw;
  background-color:#4f6655;
  color:#8fc49d; 
  font-weight:bold;
  border-radius: 1vw;
}

.about1{
  text-align:left;
}
.about2{
  text-align:right;
}

#concerts{
  text-align:left;
}
#headerimg{
  width:60%;
  border-radius:10vw;
  
}