body{
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  text-align:center;
  margin-left: 400px;
  margin-right: 400px;
}

a{
 color:#ffffff;
}
h1{
  color:#4f6655;
  background-color:#8fc49d;
  border-style:solid;
  border-width:3px;
  border-color:#4f6655;
  padding-top:10px;
  padding-bottom:10px;

}


#navigation{
  list-style-type:none;
  padding:0;
  background-color:#cae6cb;
  padding-bottom:20px;
  padding-top:20px;
  color:#4f6655;
  border-style:dotted;
  border-color:#4f6655;

}

.navigation {
  display:inline;
 padding-left:15px;
 padding-right:15px;
}


main {
  color:#4f6655;
  background-color:#cae6cb;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:15px;
  padding-right:15px;
  margin-bottom:20px;
}

footer {
  padding-top:10px;
  padding-bottom:10px;
  padding-left:15px;
  padding-right:15px;
  background-color:#8fc49d;
  color:#4f6655; 
  border-style:solid;
  border-width:5px;
  border-color:#4f6655;
  font-weight:bold;
}

.about1{
  text-align:left;
}
.about2{
  text-align:right;
}

#concerts{
  text-align:left;
}
#headerimg{
width:400px;
  
}